.container{
    background-color: #EFE7DB;
    color: white;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10vh;
    z-index: 10;
}

.container{
    z-index: 1;
    margin-top: 10vh;
    padding: 30px;
}

.logo{
    padding-left: 30px;
    font-family: 'Gugi', cursive !important;
    font-size: 1.8em !important;
}

.nav-item{
    margin-left: 60px;
    font-family: 'Noto Serif KR', serif;
}

.navbar a{
    font-size: 1.5em;
}

.dropdown:hover .dropdown-content {display: block;}

.banner{
    font-family: 'Noto Serif KR', serif;
    
}

.header-card{
    margin-bottom: 30px;
}

.cards{
    width: auto;
    margin-bottom: 30px;
}

@media ( min-width:769px ){
    .cards{
        width: 30vw;
    }
}

.card-sh:hover{
    box-shadow: 0 0 11px #3F301D; 
    
    color: white;
}

.bg-libr{
    background-color: #A48F7A;
}
.bg-darbr{
    background-color: #654321;
}

.txt-libr{
    color: #A48F7A;
}

.map{
    width: 100%;
    height: 
    
}
